body{
background-color: white;
color: black;
text-align: center;
}

@media only screen
    and (max-width:
        400px){
            background-color:white;
}
nav{
    float: center;
    font-size: 20px;
    color:blue;
    text-align: center;
    width: 85%;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    margin: 4em;
    background color: blue;
}

p1{
    float: left;
    font-size: 21px;
    width: 85;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    margin: 4em;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}


.darker {
  border-color: #ccc;
  background-color: #ddd;
}


.container::after {
  content: "";
  clear: both;
  display: table;
}


.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}


.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}


.time-right {
  float: right;
  color: #aaa;
}


.time-left {
  float: left;
  color: #999;
}